@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary: hsl(47, 88%, 63%);
  --card-bg: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 50%);
  --title: hsl(0, 0%, 7%);
}

html {
  background-color: var(--primary);
  font-family: "Figtree", sans-serif;
}

body {
  height: 95vh;
}

p {
  font-size: 14px;
  line-height: 1.3rem;
}

.preview__card,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview__card {
  max-width: 300px;
  background-color: var(--card-bg);
  outline: 1px solid var(--title);
  box-shadow: 10px 10px var(--title);
}

.preview__card,
.card__container > img {
  border-radius: 15px;
}

.card__container {
  width: 85%;
  margin: 20px auto;
}

.card__container > img {
  width: 100%;
}

.card__tag {
  width: fit-content;
  padding: 7px 10px;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 800;
  background-color: var(--primary);
}

.card__author {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
}

.card__text {
  color: var(--text);
}

.card__author .author__name {
  font-size: 14px;
}

.attribution {
  margin-top: 50px;
}
